<div class="workstation-details-container" layout="column">
    <section class="basic-information">
        <h5>{{'workstation_name' | i18n}} {{ workstationName }}</h5>
    </section>
    <section class="extra-information" layout="row">
        <dl flex>
            <dt>{{'IP'|i18n}}</dt>
            <dd>127.0.0.1</dd>
        </dl>
        <dl flex>
            <dt>{{'operation_system'|i18n}}</dt>
            <dd>Windows 7 Pro</dd>
        </dl>
        <dl flex>
            <dt>{{'MAC'|i18n}}</dt>
            <dd>00:0a:95:9d:68:16</dd>
        </dl>
        <dl flex>
            <dt>{{'domain'|i18n}}</dt>
            <dd>Google.com</dd>
        </dl>
        <dl flex>
            <dt>{{'last_connection_date'|i18n}}</dt>
            <dd>13:08 | 20/05/2016</dd>
        </dl>
    </section>
</div>