@import '../../../../app-theme';

:host {
    flex: 1 1 0;
}

.toggle-button-container {
    height: 100%;

    input[type="radio"] {
        display: none;
    }

    label {
        display: block;
        line-height: 36px;
        padding: 0 $padding;
        text-align: center;
    }

    input[type="radio"]:checked + label{
        background: unquote("rgb(#{$color-primary})") !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .toggle-button {
        box-shadow: none !important;
        background: $layout-content-bg-color;
    }

    .toggle-button.checked {
        background: unquote("rgb(#{$color-primary})") !important;
    }
}