<div class="list-container">
	<alert-list-filter [isWorkstation]="isWorkstation"></alert-list-filter>

	<div class="table-container" layout="column">
		<section class="table-header" layout="row">
			<div class="header" flex></div>
			<div class="header" flex grow="5">{{'incident_type' | i18n}}</div>
			<div class="header" flex grow="5">{{'incident_number' | i18n}}</div>
			<div class="header" flex grow="5">{{'computer_name' | i18n}}</div>
			<div class="header" flex grow="5">{{'username' | i18n}}</div>
			<div class="header" flex grow="5">{{'last_connection_date' | i18n}}</div>
			<div class="header" flex grow="5">{{'last_update' | i18n}}</div>
			<div class="header" flex grow="5">{{'last_modifier' | i18n}}</div>
			<div class="header" flex></div>

		</section>
		<section class="table-content" layout="column">
			<div class="row" *ngFor="let alert of alerts" layout="row">
				<div class="cell" flex></div>
				<div class="cell" flex grow="5">{{alert.type}}</div>
				<div class="cell" flex grow="5">{{alert.incidentNumber}}</div>
				<div class="cell" flex grow="5">{{alert.computerName}}</div>
				<div class="cell" flex grow="5">{{alert.userName}}</div>
				<div class="cell" flex grow="5">{{alert.lastConnectionDate | date : 'dd/MM/yy | hh:mm'}}</div>
				<div class="cell" flex grow="5">{{alert.lastUpdate | date : 'dd/MM/yy | hh:mm' }}</div>
				<div class="cell" flex grow="5">{{alert.lastModifier}}</div>
				<div class="cell" flex [ngSwitch]="alert.priority">
					<img *ngSwitchCase="true" src="assets/icons/star_full.png" />
					<img *ngSwitchCase="false" src="assets/icons/star_empty.png" />
				</div>
			</div>
		</section>
	</div>
</div>