@import '../../../app-theme';

.list-container {
    @include padding();

    .mdl-data-table {
        width: 100%;
        border: none;

        th {
            border-top: 1px solid;
            border-bottom: 1px solid;
            padding-top: 12px !important;
            padding-bottom: 12px !important;
        }

        td {
            border-top: 1px solid #e7eeef !important;
            border-bottom: 1px solid #e7eeef !important;
        }
    }

    .table-container {
        text-align: center;

        .table-header{
           
            .header {
                border-bottom: 1px solid rgba(0,0,0,0.34);
                border-top: 1px solid rgba(0,0,0,0.34);
                font-size: 16px;
                padding: $padding 0;
            }
        }

        .table-content {

            .row {
                .cell {
                    padding: ($padding - 2) 0;
                    .severe-img {
                        width: 15px;
                        vertical-align: bottom;
                    }
                }
            }

            .row:hover {
                background: $layout-content-bg-color;
            }

            .row:not(:last-child) {
                border-bottom: 1px solid $layout-content-bg-color;
            }

            .type-icon {
                color: rgba(0, 0, 0, 0.55);
            }
        }
    }
}

.type-icon {
    width: 40px;
}

.is-sever {
    min-width: 15px;
    flex: 0;
}