<div class="alerts-container">
	<mdl-tabs mdl-ripple mdl-tab-active-index="0">
		<mdl-tab-panel mdl-tab-panel-title="{{'all' | i18n}}">
			<alerts-list></alerts-list>
		</mdl-tab-panel>
		<mdl-tab-panel mdl-tab-panel-title="{{'general_incidents' | i18n}}">
			{{'Coming soon'| i18n}}
		</mdl-tab-panel>
		<mdl-tab-panel mdl-tab-panel-title="{{'priority_incidents' | i18n}}">
			{{'Coming soon'| i18n}}
		</mdl-tab-panel>
		<mdl-tab-panel mdl-tab-panel-title="{{'updates_and_version' | i18n}}">
			{{'Coming soon'|i18n}}
		</mdl-tab-panel>
	</mdl-tabs>
</div>