@import '../app-theme';

.app-logo {
    transform: scale(0.7);
}

md-toolbar #{"/deep/"} md-toolbar-row {
    justify-content: space-between;
}

.content {
    min-height: 100vh;
    background: $layout-content-bg-color;
}


/* Test */
// @media screen and (max-width: 334520px) {
//     .content {
//         width: 100px;
//         background-color: red;
//     }
//   }


/* Large or below */
@media screen and (min-width: 700px) {
     .content {
        padding: 45px 10%;
    }
}

/* Large or below */
@media screen and (min-width: 1500px) {
     .content {
        padding: 45px 15%;
    }
}

// /* Medium or below */
// @media screen and (max-width: 991px) {
//     .content {
//         padding: 45px 5%;
//     }
// }

// /* Small or below */
// @media screen and (max-width: 767px) {
//     .content {
//         padding: 45px 2%;
//     }
// }

search-bar {
    margin: auto;
}

.navigation-link {
    margin-right: 2% 
}

.page-view {
    margin: auto;
}