@import '../app-theme';

.app-logo {
    transform: scale(0.7);
}

md-toolbar #{"/deep/"} md-toolbar-row {
    justify-content: space-between;
}

.content {
    min-height: 100vh;
    background: $layout-content-bg-color;
}

/* Large or below */
@media screen and (min-width: 700px) {
     .content {
        padding: 45px 10%;
    }
}

/* Large or below */
@media screen and (min-width: 1500px) {
     .content {
        padding: 45px 15%;
    }
}

search-bar {
    margin: auto;
}

.navigation-link {
    margin-right: 2% 
}

.page-view {
    margin: auto;
}