<div class='alerts-sum'>
    <div *ngIf='isThereAlerts()'>
        <h4>{{'there are currently' | i18n }} {{alerts.length}} {{'common system faults' | i18n}}</h4>
    </div>

    <div *ngIf='!isThereAlerts()'>
        <h4>{{'there are currently no common system faults' | i18n}}</h4>
    </div>

    <div class='view-statistics-btn'>
        <div *ngIf="!viewStatistics">
            <h5> {{'view statistics' | i18n}} </h5>
            <a md-mini-fab color="primary" (click)="viewStatistics = true"><md-icon>keyboard_arrow_left</md-icon></a>
        </div>
        <div *ngIf="viewStatistics">
            <h5> {{'close statistics' | i18n}} </h5>
            <a md-mini-fab color="primary" (click)="viewStatistics = false"><md-icon>keyboard_arrow_down</md-icon></a>
        </div>
    </div>
    <!--<md-divider></md-divider>-->
</div>

<div class='simple-statistics' [class.isclosed]="!viewStatistics">
    <home-statistics [viewStatistics]="viewStatistics"></home-statistics>
</div>
