@import "~angular2-mdl/scss/color-definitions";

// $color-primary: $color-white;
$color-primary: $palette-green-A200;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-amber-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

$layout-text-color: black;
$layout-header-bg-color: #fff;
$layout-header-text-color: black;
$layout-content-bg-color: #e7eeef;

$box-shadow-color: rgba(33, 58, 68, .1);

$text-color: black;

$search-bar-bg-color: #e7eeef;

$alerts-bg-color: #fff;

$padding: 16px;

@mixin box-shadow($top, $left, $blur, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $box-shadow-color;
    -moz-box-shadow:inset $top $left $blur $box-shadow-color;
    box-shadow:inset $top $left $blur $box-shadow-color;
  } @else {
    -webkit-box-shadow: $top $left $blur $box-shadow-color;
    -moz-box-shadow: $top $left $blur $box-shadow-color;
    box-shadow: $top $left $blur $box-shadow-color;
  }
}

@mixin padding() {
  padding: $padding;
}

@import '~angular2-mdl/scss/material-design-lite';

/******************* RTL Support *************************/
mdl-textfield {
  label {
    text-align: right !important;
  }
}