@import '../../../../app-theme';

.filter-container {
    @include padding();

    .search-fields {

        button {
            margin: 33px 16px 0;
            
        }
        .search-input {
            margin: 0 16px;

            label {
                margin: 10px 3px 5px;
            }

            input {
                outline: none;
                border-radius: 2px;
                border: none;
                background: $layout-content-bg-color;
                line-height: 36px;
                padding: 0 10px;
            }
        }
    }
}