<div class="filter-container">
	<h5>{{'filter' | i18n}}</h5>
	<section class="search-fields" layout="row" flexWrap="wrap">
		<div class="search-input" *ngIf="!isWorkstation" flex="20" layout="column">
			<label for="computer_name">{{'computer_name' | i18n}}</label>
			<input id="computer_name" type="text" />
		</div>
		<div class="search-input" flex="20" layout="column">
			<label for="username">{{'username' | i18n}}</label>
			<input id="username" type="text" />
		</div>
		<div class="search-input" *ngIf="!isWorkstation" flex="20" layout="column">
			<label for="ip_address">{{'ip_address' | i18n}}</label>
			<input id="ip_address" type="text" />
		</div>
		<div class="search-input" *ngIf="!isWorkstation" flex="20" layout="column">
			<label for="mac_address">{{'mac_address' | i18n}}</label>
			<input id="mac_address" type="text" />
		</div>
		<div class="search-input" flex="20" layout="column">
			<label for="free_description">{{'free_description' | i18n}}</label>
			<input id="free_description" type="text" />
		</div>
		<!--<div class="search-input" flex="15" layout="column">
			<toggle-button-group name="status" items="['test1', 'test2', 'test3']">
				<toggle-button label></toggle-button>
			</toggle-button-group>

		</div>-->
		<button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
			{{'search' | i18n}}
		</button>
	</section>
</div>